# Django
*.pyc
__pycache__/
db.sqlite3
migrations/

# Virtual environment
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Media files (но можно оставить для демонстрации)
# media/